@import "styles/variables";

.body_container{
  position: relative;
  width: 100%;
}

.container{
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.show_sidebar_button{
  /*
  @media screen and (max-width: $mobile-width-max) {
    width: 95%;
  }
  */
  @media screen and (min-width: $mobile-width-min) {
    display: none;
  }

  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;

  background-color: red;
}

.mobile_sidebar{
  @media screen and (max-width: $mobile-width-max) {
    &[data-is-hide=true] {
      display: none;
    }
    z-index: 150;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
  }
}

.overlay{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}