
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
$header_height: 50px;

.header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: $header_height;
  background-color: #0192a8;
}

.header_logo{
  color: #f0f0f0;
  line-height: $header_height;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}