@import "styles/variables";

.content_post{
  width: 100%;
  height: 350px;
  padding: 5px;
  box-sizing: border-box;

  //border-width: 1px;
  //border-color: gray;

  @media screen and (max-width: $mobile-width-max) {
    width: 100%;
  }

  @media screen and (min-width: $mobile-width-min) and (max-width: 1199px) {
    width: 33%;
  }

  @media screen and (min-width: 1200px) {
    width: 25%;
  }
}

.content_post_inside{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;

  transition: .2s;
  &:hover{
    transform: translate(0, -3px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.content_img{
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

.content_info{
  display: flex;
  flex-direction: column;
  height: calc(100% - 200px - 10px);
  padding: 5px 10px;
}

.content_tags_container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 52px;
  overflow: hidden;
  margin-bottom: 3px;
}

.content_tag{
  height: 24px;
  max-height: 52px;
  padding: 3px 5px !important;
  margin: 0 4px 2px 0px;
  line-height: 16px;
  font-size: 13px;
}

.content_title{
  display: -webkit-box;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  color: #335;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
