$sidebar_width: 200px;
$sidebar_item_height: 40px;

.sidebar{
  width: $sidebar_width;
  //height: 800px;
  border: solid 1px #e3e3e3;
  //box-sizing: border-box;

  background-color: white;
  div+ div {
    border-top: solid 1px #e3e3e3;
    //border-left: 1px solid #333;
  }
}

.sidebat_title{
  width: $sidebar_width;
  height: $sidebar_item_height;
  line-height: $sidebar_item_height;
  //padding-right: 1px;
  text-align:center;
  //letter-spacing: 3px;
  background-color: #0192a8;
  color: #f0f0f0;
}


.sidebar_item_tag{
  display: flex;
  width: 100%;
  height: $sidebar_item_height;
  cursor: pointer;

  &:hover{
    background-color: rgb(220, 220, 220);
  }
}

.sidebar_item_tag_name{
  display: block;
  width: calc(#{$sidebar_width} - 50px - 10px);
  margin-left: 10px;
  height: 100%;
  line-height: $sidebar_item_height;
}

.sidebar_item_tag_count{
  display: block;
  margin: 10px 10px;
  width: calc(50px - 20px);
  height: calc(100% - 20px);
  //background-color: rgb(150, 150, 150);
  //background-color: rgb(180, 180, 180);
  border: solid 1px rgba($color: #008296, $alpha: 0.3);
  border-radius: 5px;

  p{
    text-align: center;
    line-height: calc(#{$sidebar_item_height} - 20px);
    color: #008296;
    font-size: 13px;
  }
}