$mobile-width-min: 480px;
$mobile-width-max: 479px;

$color-white-text: #f0f0f0;
$color-primary-1: #0192a8; // main
$color-primary-2: #4dbdce;
$color-primary-3: #1ca1b6; //main hover

$color-border-gray: #e3e3e3;
$color-border-darkgray: #d0d0d0;

$color-hover-gray: rgb(235, 235, 235);
