.button{
  display: block;
  //margin: auto;
  //margin-top: 20px;
  padding: 5px 10px;
  //position: absolute;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-size: 16px;

  &:hover{
    background-color: #f7fafa;
  }

  &:focus{
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
}