@import 'styles/variables';

.main_container {
  max-width: 400px;
  margin: auto;
}

.info_panel {
  padding: 16px;

  &:hover {
    background-color: $color-hover-gray;
  }
}

.info_panel_name {
  font-weight: 600;
}

.info_panel_desc {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  color: $color-muted-gray-text;
}

.info_panel_list {
  border-radius: 4px;
  border: solid 1px $color-border-darkgray;

  margin-top: 5px;

  div + div {
    border-top: solid 1px $color-border-darkgray;
  }
}
