.body_container{
  width: 100%;
}

.container{
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-top: 50px;
}

.contents_main{
  width: 80%;
  margin: auto;
  margin-top: -4px;
  //margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
}